*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

/* header */

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 101px;
}

/* Banner principal */

.top-banner-desktop{
    width: 100%;
}

.top-banner-mobile{
    display: none;
    max-height: 598px;
    object-fit: cover;
}

/* info section */

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 73px 0 80px;
}

.info-section h2{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.info-section h1{
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}

.info-section p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 54%;
    padding: 28px 0 73px;
    margin: 0 auto;
}

/* top cards */

.top-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 74px 0;
    gap: 20px;
}

.top-cards-box{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(350px,90vw);
    min-height: 288px;
    padding: 26px;
    gap: 30px;
}

.top-cards-box p{
    text-align: center;
}

.middle-banner{
    background-color: #E0E0E0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 39px;
    padding: 0 72px;
    justify-content: center;
}

.middle-banner img{
    position: relative;
    top: 62px;
    max-width: 100%;
}

/* bottom cards */

.bottom-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 191px 72px 108px;
    gap: 16px;
}

.bottom-cards-box{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(432px,90vw);
    max-height: 332px;
    padding: 35px 32px 65px 33px;
    gap: 16px;
}

.bottom-cards-box p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

/* bottom banner */

.bottom-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-banner h2{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.bottom-banner p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 550px;
    padding-bottom: 50px;
}

.bottom-banner img{
    max-width: 1360px;
    max-height: 276px;
    margin-bottom: 112px;
}

footer{
    background-color: #000000;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 16px;
}

footer p{
    font-size: 10px;
    line-height: 12px;
    color: #BDBDBD;
}

/* Banner pincipal mobile */

@media screen and (max-width:768px) {
    .top-banner-desktop{
        display: none;
    }

    .top-banner-mobile{
        display: unset;
        width: 100%;
    }

/* info section mobile */

    .info-section h2{
        max-width: unset;
        font-size: 20px;
        line-height: 24px;
    }

    .info-section h1{
        font-size: 28px;
        line-height: 34px;
    }

    .info-section p{
        max-width: unset;
        padding: 12px 28px 65px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

/* top card mobile  */

    .top-cards{
        flex-direction: column;
    }

}